body{
    backdrop-filter: blur(10px);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: .6vw;
    font-size: 3vh;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 200);
}
.cards{
    background-color: white;
    opacity: 80%;
    border: 1px solid black;
    padding: 1.5vw;
    border-radius: 2vw;
    max-width: 66vw;
    margin-top: 15vh;
    margin: auto;
}
.name{
font-size: 1.6rem;
}
.destext{
margin-top: 0 auto;
font-size: 1rem;
text-align: justify;
}
button{
border: none;
padding: .8vw 1.2vw;
border-radius: 3vw;
font-size: .7rem;
font-weight: 600;
color: #0077ff;
background-color: #e0efff;

cursor: pointer;
}
button:hover {
background-color: #0077ff;
color: #e0efff;
}
.grid-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 6rem;
    /* grid-auto-rows: 12rem; */
    justify-content: center;
    padding: 2rem;
    overflow: auto;
    background: transparent;
    width: 100%;
}
.grid-cont::-webkit-scrollbar{
    width: .5rem;
}
.grid-cont::-webkit-scrollbar-thumb{
    background-color: blanchedalmond;
}
.grid-cont::-webkit-scrollbar-thumb:hover{
    background-color: rgb(244, 211, 168);
}
.grid-cont::-webkit-scrollbar-track{
    background-color: aliceblue;
}
.cont{
    display: flex;
    justify-content: center;
    padding-top: 11vh;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 11vh;
    height: 100%;
    background: transparent;
}
img{
    width: 100%;
    border-radius: 2vw;
    height: 20vh;
    object-fit: cover;
}
.extra-row{
    grid-column: 1 / span 2;
    height: 10vw;
}

@media only screen and (max-width: 415px) {
    .grid-cont {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .grid-item {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  
  @media only screen and (min-width: 415px) and (max-width: 850px) {
    .grid-cont {
      grid-template-columns: 1fr 1fr;
    }
  }