.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  height: 5vw;
  width: 100vw;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 0;
}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: antiquewhite;
  text-align: center;
  align-items: center;
  text-decoration: none;
  padding: 1vw 7vw;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2vw;
}

body {
  margin: 0;
  overflow-y: scroll !important;
  min-height: 100vh;
  height: max-content;
  overflow-x: hidden;
  /* background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("./new_wallpaper.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: #0e172a;
  background: linear-gradient(
    90deg,
    rgba(6, 10, 19, 1) 0%,
    rgba(8, 84, 99, 1) 50%,
    rgba(6, 10, 19, 1) 100%
  );
  position: static !important;
}

.heading {
  width: 100%;
  height: 10vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: "Ubuntu", sans-serif;
  /* letter-spacing: 0.6vw; */
  font-size: 60px !important;
  margin-bottom: 20px;
}

@media (min-width: 515px) {
  .navbar {
    display: none !important;
  }
  .cepheid-logo {
    width: 50px;
    scale: 1.8;
    display: inline;
    height: 10vh;
    object-fit: contain;
    position: absolute;
    top: 10px;
    left: 10vw;
    z-index: 100;
  }
}
@media (max-width: 514px) {
  /* For Mobile Screen Navbar */
  :root {
    --animation-curve: cubic-bezier(1, 0, 0, 1);
  }

  label {
    background-color: antiquewhite;
    width: 2.2em;
    height: 0.2em;
    display: block;
    position: absolute;
    left: 3%;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      width: 2.2em;
      height: 0.2em;
      display: block;
      position: absolute;
      background-color: antiquewhite;
      transition: all 0.6s var(--animation-curve);
    }

    &::before {
      top: -250%;
      left: 0%;
      transform-origin: left top;
      /*     transform: rotateZ(0deg); */
    }
    &::after {
      bottom: -250%;
      left: 0%;
      transform-origin: left bottom;
      /*     transform: rotateZ(0deg); */
    }
  }

  #toggle:checked ~ label::before {
    background-color: antiquewhite;
    content: "";
    transform: rotateZ(30deg);
  }

  #toggle:checked ~ label::after {
    content: "";
    background-color: antiquewhite;
    transform: rotateZ(-30deg);
  }
  #toggle:checked ~ label {
    background: transparent;
  }
  #toggle ~ label {
    transition: all 0.6s var(--animation-curve);
  }

  .navbar {
    display: flex;
    position: fixed;
    /* background: transparent; */
    background: linear-gradient(
      90deg,
      rgba(6, 10, 19, 1) 0%,
      rgba(8, 84, 99, 1) 50%,
      rgba(6, 10, 19, 1) 100%
    ); /* backdrop-filter: blur(1000px); */
    top: 10vh;
    left: -200%;
    height: 100%;
    width: 100%;
    float: left;
    transition: left 0.4s ease-in-out;
    z-index: 2;
  }
  .navbar.open {
    left: 0;
  }
  .navbar.close {
    left: -200%;
  }
  .page-body.overtext.close {
    display: none;
  }
  #nav-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 5%;
    margin-left: 5%;
    font-weight: bold;
    color: aliceblue;
  }
  .nav-it {
    float: left;
    margin: 4vh auto;
  }
  .nav-it a {
    display: block;
    position: fixed;
    font-size: medium;
  }
  /* navbar ends */
  .footer {
    display: none !important;
  }
  .cepheid-logo {
    position: absolute;
    top: 0;
    left: 75% !important;
    width: 50px;
    scale: 1.5;
    display: inline;
    height: 10vh;
    object-fit: contain;
    transform: translateX(0px);
    z-index: 100;
  }
}
@media only screen and (max-width: 415px) {
  .footer {
    display: none;
  }
}

input {
  display: none;
}
/* new shit */

/* Container for all user cards */
.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center;
  gap: 20px;
  width: 80%; /* Limit container width to 80% */
  margin: 0 auto; /* Center container horizontally */
  margin-bottom: 100px;
}

/* Individual user card styling */
.user-card {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  width: 250px; /* Set card width */
  margin: 10px; /* Add margin between cards */
  border: 1px solid #ddd; /* Add a thin border */
  padding: 10px; /* Add padding inside the card */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  background-color: #f5f5f5; /* Add a light background color */
}

/* User photo styling */
.user-photo {
  /* width: 100%;
  height: 150px; */
  height: 150px;
  width: 150px;
  border: 5px #0e172a solid;
  display: flex;
  align-self: center;
  border-radius: 50%;
  overflow: hidden; /* Hide overflow if image is bigger */
}

.user-photo img {
  width: 100%; /* Match photo container width */
  height: 100%; /* Match photo container height */
  object-fit: cover; /* Resize image to fit container, maintaining aspect ratio */
}

/* User details styling */
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center details horizontally */
  margin-top: 10px; /* Add space between photo and details */
  font-family: Arial, sans-serif; /* Set font family */
}

.user-details p {
  margin-bottom: 5px; /* Add space between each detail */
}
h2 {
  flex-basis: 100%;
  text-align: center;
  font-size: 2.5em;
  color: rgb(228, 214, 214);
  font-family: "Noto Sans", sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
}
h1 {
  flex-basis: 100%;
  text-align: center;
  font-size: 3em;
  color: white;
  font-family: "Noto Sans", sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 514px) {
  h1 {
    padding-top: 200px;
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.2em;
    padding-top: 90px;
    padding-bottom: 2px;
  }
}
h3 {
  text-align: center;
  font-size: 1.5em;
  color: #0e172a;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  margin-top: 10px;
  /* padding-top: 30px;
  padding-bottom: 30px; */
}
.user-details a {
  color: black;
  text-decoration: none;
  padding-left: 5px;
}

/*newer shit*/
.header {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 10vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
@media only screen and (max-width: 515px) {
  #canvas_container {
    top: 10vh;
  }
}
.overtext.close {
  display: none;
}
@media only screen and (min-width: 515px) {
  .menu {
    display: none;
  }
}

.menu {
  cursor: pointer;
  position: absolute;
  left: 3%;
}
