body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
  background-size: cover;
  backdrop-filter:  brightness(50%);
}

canvas {
  display: block;
}

#canvas_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overtext{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.footer{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 5vw;
  background: transparent;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  z-index: 1;
}

#htitle{
  font-family: "Audiowide", sans-serif;
  font-size: 7vw;
  margin-bottom: 0%;
}

#iittitle{
  font-family: "Poppins", sans-serif;
  font-size: 3vw;
  margin-top: 0%;
  letter-spacing: 2vw;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 0;

}

li{
  float: left;
  text-align: center;
}

li a{
  display: block;
  color: antiquewhite;
  text-align: center;
  align-items: center;
  text-decoration: none;
  padding: 1vw 7vw;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2vw;
}

@media only screen and (max-width: 515px) {
  .footer{
    display: none !important;
  }
}
@media only screen and (min-width: 515px) {
  .menu{
    display: none;
  }
}

.menu{
  cursor: pointer;
  position: absolute;
  left: 3%;
}
.navbar{
  display: flex;
  position: fixed;
  /* background: transparent; */
  /* background-color: antiquewhite; */
  backdrop-filter: blur(1000px);
  top: 10vh;
  left: -200%;
  height: 100%;
  width: 100%;
  float: left;
  transition: left 0.4s ease-in-out;
  z-index: 2;

}
.navbar.open{
  left: 0;
}
.navbar.close{
  left: -200%;
}

#nav-menu{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 5%;
  margin-left: 5%;
  font-weight: bold;
  color: aliceblue;
}
.nav-it{
  float: left;
  margin: 4vh auto;
}
.nav-it a{
  display: block;
  position: fixed;
  font-size: medium;
}

/* For Mobile Screen Navbar */
:root {
  --animation-curve: cubic-bezier(1, 0, 0, 1);
}

label{
  background-color: antiquewhite;
  width: 2.2em;
  height: .2em;
  display:block;
  position: absolute;
  cursor: pointer;
  
  &::before, &::after{
      content: '';
      width: 2.2em;
      height: .2em;
      display: block;
      position: absolute;
      background-color: antiquewhite;
      transition: all 0.6s var(--animation-curve);
  }
  
  &::before{
      top: -250%;
      left: 0%;
      transform-origin: left top;
  /*     transform: rotateZ(0deg); */
  }
  &::after{
      bottom: -250%;
      left: 0%;
      transform-origin: left bottom;
  /*     transform: rotateZ(0deg); */
  }
}

#toggle:checked ~ label::before{
  background-color: antiquewhite;
  content:'';
  transform: rotateZ(30deg);
}

#toggle:checked ~ label::after{
  content:'';
  background-color: antiquewhite;
  transform: rotateZ(-30deg);
}
#toggle:checked ~ label{
  background: transparent;
}
#toggle ~ label{
  transition: all 0.6s var(--animation-curve);
}
input{
  display: none;
}
